<?xml version="1.0"?>
<!--
  ~ Mage-World
  ~
  ~  @category    Mage-World
  ~  @package     MW
  ~  @author      Mage-world Developer
  ~
  ~  @copyright   Copyright (c) 2018 Mage-World (https://www.mage-world.com/)
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <easyfaq>
            <general>
                <enable>1</enable>
                <page_title>FAQ</page_title>
                <meta_title></meta_title>
                <meta_keywords></meta_keywords>
                <meta_description></meta_description>
                <layout>3</layout>
                <page_type>2</page_type>
            </general>
        </easyfaq>
    </default>
</config>